html, body {
      background-color: #E7ECEF;
      padding-bottom: 30px;
}

#headerContent{
    background-color: #274C77;
    color: white;
    text-align: center;
    height: 100px;
}
#headerContent>h1 {
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}
#headerContent>h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}
#copyright {
    font-size: 11px;
    text-align: right;
    margin: 6px
}
#bodyContent{
    color: black;
    text-align: center;
}
.input-group {
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}
label{
    font-size: 16px;
    display: block;
}
.inputbox {

    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 2px solid black;
    background-color: #E7ECEF
}
input:focus{
   outline: none;
}
#or{
    text-align: center;
}

#or p{
    margin: 0px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

.btn-search-global{
    background-color: #BD632F;
    color: white;
    width: 150px;
    height: 50px;
    border: 0px;
    border-radius: 3px;
    font-size: 20px;
}
.btn-search-individual{
    background-color: #757780;
    color: white;
    width: 80px;
    height: 30px;
    border: 0px;
    border-radius: 3px;
    font-size: 14px;
}

.footer-content{
    height: 60px;
    color: white;
    text-align: center;
    background-color: #8B94A3;
}

.footer-content p{
    padding-top: 20px; 
    font-size: 16px;
}

#heart{
    color: #b30000;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #E7ECEF inset!important;
}